h1{
    display: flex;
    justify-content: center;
}

.dropdown{
    display: flex;
    justify-content: start;
    background-color: rgb(13, 110, 253);
    

}

    
.row{
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
        justify-content: center;
}

.container2{
    padding: 5px;
    border-style:groove;
    border-width: 5px;
    border-color: rgb(86, 147, 239);
    background-color: rgba(77, 110, 254, 0.4);
}

.container3{
    padding: 5px;
    border-style:groove;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(103, 111, 121, 0.4);
}